:root {
  --bg-clr: rgb(5, 10, 24);
  --border-clr: rgba(255, 255, 255, 0.1);
}

* {
  box-sizing: border-box;
}

h1,
h2,
h2,
a,
p,
span {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: white;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--bg-clr);
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0px;
  overflow: hidden;
}

nav {
  display: flex;
  width: 100%;
  border-bottom: 1px solid var(--border-clr);
}

nav > .nav-section {
  padding: 3rem 2rem;
  display: flex;
  gap: 1rem;
  border-left: 1px solid var(--border-clr);
  align-items: center;
  justify-content: center;
}

#nav-logo-section {
  justify-content: flex-start;
}

#nav-logo-section > a > i {
  font-size: 2.5rem;
}

#nav-link-section {
  gap: 6rem;
}

#nav-social-section {
  gap: 3rem;
}

#nav-logo-section,
#nav-link-section {
  flex-basis: calc(100% / 3);
}

#nav-social-section,
#nav-contact-section {
  flex-grow: 1;
}

main {
  flex-grow: 1;
}

main > article {
  display: grid;
  height: 100%;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr 1fr;
}

main > article > .article-section {
  height: 100%;
}

main > article > .article-description-section,
main > article > .article-nav-section {
  border-left: 1px solid var(--border-clr);
}

main > article > .article-title-section,
main > article > .article-nav-section {
  border-top: 1px solid var(--border-clr);
}

main > article:first-child > .article-image-section {
  background-image: url("https://unsplash.com/photos/k-rKfqSm4L4/download?ixid=MnwxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNjcwMTQ0MzA5&force=true");
}

main > article:nth-child(2) > .article-image-section {
  background-image: url("https://images.unsplash.com/photo-1535905557558-afc4877a26fc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2574&q=80");
}

main > article:nth-child(3) > .article-image-section {
  background-image: url("https://images.unsplash.com/photo-1660580554695-d2ca5008f1f2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=927&q=80");
}

main > article:nth-child(4) > .article-image-section {
  background-image: url("https://images.unsplash.com/photo-1660766877755-4cac24f6cf21?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2232&q=80");
}

main > article > .article-image-section {
  background-position: center;
  background-size: cover;
}

.article-description-section {
  display: flex;
  align-items: flex-end;
}

.article-description-section > p {
  font-size: 1.15rem;
  padding: 2rem;
}

.article-title-section {
  padding: 0 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article-title-section > h2 {
  line-height: 2.15rem;
  font-size: 2.5rem;
  font-weight: 800;
}

.article-title-section > a,
.article-nav-section > a {
  font-size: 3rem;
}

.article-nav-section {
  padding: 0 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article-nav-section > a:first-child {
  border-right: 1px solid var(--border-clr);
}
